<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77181999457-9vfdlncje32b5a1ubp1g2sorli7s4dqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77181999457-9vfdlncje32b5a1ubp1g2sorli7s4dqi</string>
	<key>API_KEY</key>
	<string>AIzaSyC4lwlZTRzwqikWX4AjiF-zaCbrWZ0Q1Qk</string>
	<key>GCM_SENDER_ID</key>
	<string>77181999457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pae.portalView</string>
	<key>PROJECT_ID</key>
	<string>designcode-swiftuicourse-5f8a4</string>
	<key>STORAGE_BUCKET</key>
	<string>designcode-swiftuicourse-5f8a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77181999457:ios:e7697e3a6dd233df418d20</string>
</dict>
</plist>